<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wugu.ycyp.dao.SpecialtyMapper" >
  <resultMap id="BaseResultMap" type="com.wugu.ycyp.entity.Specialty" >
    <id column="ID" property="id" jdbcType="BIGINT" />
    <result column="TYPE" property="type" jdbcType="INTEGER" />
    <result column="CREATE_TIME" property="createTime" jdbcType="INTEGER" />
    <result column="UPDATE_TIME" property="updateTime" jdbcType="INTEGER" />
    <result column="OP_ID" property="opId" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="AREA_ID" property="areaId" jdbcType="BIGINT" />
    <result column="CATEGORY_ID" property="categoryId" jdbcType="BIGINT" />
    <result column="STATUS" property="status" jdbcType="INTEGER" />
    <result column="SHOW_CONTENT" property="showContent" jdbcType="VARCHAR" />
    <result column="IMG_URL" property="imgUrl" jdbcType="VARCHAR" />
    <result column="BIG_IMG" property="bigImg" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.wugu.ycyp.entity.Specialty" extends="BaseResultMap" >
    <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TYPE, CREATE_TIME, UPDATE_TIME, OP_ID, NAME, AREA_ID, CATEGORY_ID, STATUS, SHOW_CONTENT, 
    IMG_URL, BIG_IMG
  </sql>
  <sql id="Blob_Column_List" >
    CONTENT
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.wugu.ycyp.entity.SpecialtyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.wugu.ycyp.entity.SpecialtyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <include refid="MySqlDialectSuffix" />
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from specialty
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from specialty
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.wugu.ycyp.entity.SpecialtyExample" >
    delete from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.wugu.ycyp.entity.Specialty" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into specialty (TYPE, CREATE_TIME, UPDATE_TIME, 
      OP_ID, NAME, AREA_ID, 
      CATEGORY_ID, STATUS, SHOW_CONTENT, 
      IMG_URL, BIG_IMG, CONTENT
      )
    values (#{type,jdbcType=INTEGER}, #{createTime,jdbcType=INTEGER}, #{updateTime,jdbcType=INTEGER}, 
      #{opId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{areaId,jdbcType=BIGINT}, 
      #{categoryId,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{showContent,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR}, #{bigImg,jdbcType=VARCHAR}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wugu.ycyp.entity.Specialty" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into specialty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        TYPE,
      </if>
      <if test="createTime != null" >
        CREATE_TIME,
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME,
      </if>
      <if test="opId != null" >
        OP_ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="areaId != null" >
        AREA_ID,
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="showContent != null" >
        SHOW_CONTENT,
      </if>
      <if test="imgUrl != null" >
        IMG_URL,
      </if>
      <if test="bigImg != null" >
        BIG_IMG,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="opId != null" >
        #{opId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        #{areaId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="showContent != null" >
        #{showContent,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null" >
        #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.wugu.ycyp.entity.SpecialtyExample" resultType="java.lang.Integer" >
    select count(*) from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update specialty
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.type != null" >
        TYPE = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        CREATE_TIME = #{record.createTime,jdbcType=INTEGER},
      </if>
      <if test="record.updateTime != null" >
        UPDATE_TIME = #{record.updateTime,jdbcType=INTEGER},
      </if>
      <if test="record.opId != null" >
        OP_ID = #{record.opId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.areaId != null" >
        AREA_ID = #{record.areaId,jdbcType=BIGINT},
      </if>
      <if test="record.categoryId != null" >
        CATEGORY_ID = #{record.categoryId,jdbcType=BIGINT},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.showContent != null" >
        SHOW_CONTENT = #{record.showContent,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null" >
        IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.bigImg != null" >
        BIG_IMG = #{record.bigImg,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null" >
        CONTENT = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update specialty
    set ID = #{record.id,jdbcType=BIGINT},
      TYPE = #{record.type,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=INTEGER},
      OP_ID = #{record.opId,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      AREA_ID = #{record.areaId,jdbcType=BIGINT},
      CATEGORY_ID = #{record.categoryId,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=INTEGER},
      SHOW_CONTENT = #{record.showContent,jdbcType=VARCHAR},
      IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      BIG_IMG = #{record.bigImg,jdbcType=VARCHAR},
      CONTENT = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update specialty
    set ID = #{record.id,jdbcType=BIGINT},
      TYPE = #{record.type,jdbcType=INTEGER},
      CREATE_TIME = #{record.createTime,jdbcType=INTEGER},
      UPDATE_TIME = #{record.updateTime,jdbcType=INTEGER},
      OP_ID = #{record.opId,jdbcType=INTEGER},
      NAME = #{record.name,jdbcType=VARCHAR},
      AREA_ID = #{record.areaId,jdbcType=BIGINT},
      CATEGORY_ID = #{record.categoryId,jdbcType=BIGINT},
      STATUS = #{record.status,jdbcType=INTEGER},
      SHOW_CONTENT = #{record.showContent,jdbcType=VARCHAR},
      IMG_URL = #{record.imgUrl,jdbcType=VARCHAR},
      BIG_IMG = #{record.bigImg,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.wugu.ycyp.entity.Specialty" >
    update specialty
    <set >
      <if test="type != null" >
        TYPE = #{type,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        CREATE_TIME = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        UPDATE_TIME = #{updateTime,jdbcType=INTEGER},
      </if>
      <if test="opId != null" >
        OP_ID = #{opId,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="areaId != null" >
        AREA_ID = #{areaId,jdbcType=BIGINT},
      </if>
      <if test="categoryId != null" >
        CATEGORY_ID = #{categoryId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=INTEGER},
      </if>
      <if test="showContent != null" >
        SHOW_CONTENT = #{showContent,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="bigImg != null" >
        BIG_IMG = #{bigImg,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.wugu.ycyp.entity.Specialty" >
    update specialty
    set TYPE = #{type,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=INTEGER},
      OP_ID = #{opId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      AREA_ID = #{areaId,jdbcType=BIGINT},
      CATEGORY_ID = #{categoryId,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=INTEGER},
      SHOW_CONTENT = #{showContent,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      BIG_IMG = #{bigImg,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=LONGVARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wugu.ycyp.entity.Specialty" >
    update specialty
    set TYPE = #{type,jdbcType=INTEGER},
      CREATE_TIME = #{createTime,jdbcType=INTEGER},
      UPDATE_TIME = #{updateTime,jdbcType=INTEGER},
      OP_ID = #{opId,jdbcType=INTEGER},
      NAME = #{name,jdbcType=VARCHAR},
      AREA_ID = #{areaId,jdbcType=BIGINT},
      CATEGORY_ID = #{categoryId,jdbcType=BIGINT},
      STATUS = #{status,jdbcType=INTEGER},
      SHOW_CONTENT = #{showContent,jdbcType=VARCHAR},
      IMG_URL = #{imgUrl,jdbcType=VARCHAR},
      BIG_IMG = #{bigImg,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <sql id="MySqlDialectSuffix" >
    <if test="pageInfo != null" >
      limit ${pageInfo.offset} , ${pageInfo.pageSize}
    </if>
  </sql>
</mapper>